language: php

php:
  - 5.3
  - 5.4
  - 5.5

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

install:
  - composer self-update
  - composer install --dev --no-interaction --no-progress

script:
  - vendor/bin/phpunit
