<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  backupGlobals="false"
  backupStaticProperties="false"
  bootstrap="vendor/autoload.php"
  colors="true"
  cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Tests">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
